# FRRConfiguration: BGP peer to bastion (192.168.29.10). Label use-for-advertisements: true for RouteAdvertisements.
apiVersion: frrk8s.metallb.io/v1beta1
kind: FRRConfiguration
metadata:
  name: receive-filtered
  namespace: openshift-frr-k8s
  labels:
    use-for-advertisements: "true"
spec:
  nodeSelector: {}
  bgp:
    routers:
      - asn: 64512
        neighbors:
          - address: 192.168.29.10
            asn: 64512
            disableMP: true
            toReceive:
              allowed:
                mode: filtered
                prefixes:
                  - prefix: 0.0.0.0/0
