# Client pod: same image as use-case-8 (agnhost has curl). Used to test connectivity to server.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: np-udn-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: registry.k8s.io/e2e-test-images/agnhost:2.45
          args:
            - serve-hostname
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
