# Base FRRConfiguration for route advertisements: defines BGP peer (bastion 192.168.20.10) and accepts routes from it.
# RouteAdvertisements CRs reference this via frrConfigurationSelector (matchLabels routeAdvertisements: receive-all).
# OVN-Kubernetes then generates additional FRRConfiguration objects to advertise pod/CUDN prefixes.
# Bastion advertises 192.168.20.0/24 (cluster imports it). Cluster advertises 192.168.21.0/24 (UDN) so bastion can reach the pod (see use-case-6 bastion-frr-config.conf: bastion accepts routes from cluster).
# See: https://docs.redhat.com/en/documentation/openshift_container_platform/4.21/html/advanced_networking/route-advertisements
apiVersion: frrk8s.metallb.io/v1beta1
kind: FRRConfiguration
metadata:
  name: receive-all
  namespace: openshift-frr-k8s
  labels:
    routeAdvertisements: receive-all
spec:
  bgp:
    routers:
      - asn: 64512
        neighbors:
          - address: 192.168.20.10
            asn: 64513
            ebgpMultiHop: true
            disableMP: true
            toReceive:
              allowed:
                mode: all
